* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */
:root {
  --font-inter: "Inter";
  --font-dm-sans: "DM Sans";
}

html {
  font-size: 62.5%;
  font-family: var(--font-dm-sans);
}

main {
  background-color: #faf8f7;
}

/* header */

header {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.container-header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: auto;
  margin: auto auto;
  color: #ffffff;
}

.logo-Batabit {
  margin-top: 4rem;
  margin-bottom: 3.3rem;
}

.titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.text-header {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #ffe9d5;
  margin-bottom: 3.2rem;
}

.button {
  display: flex;
  max-width: 250px;
  justify-content: center;
  position: relative;
  width: 100%;
  bottom: -2rem;
}

.boton-planes {
  text-align: start;
  padding-left: 2rem;
  box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #201e1c;
  width: 100%;
  height: 4.8rem;
  border-radius: 0.4rem;
  border: 0;
  background: #faf8f7;
  position: relative;
}

.arrow {
  position: absolute;
  right: 10%;
  top: 42.33%;
  bottom: 33.33%;
  color: #201e1c;
  
}

.call-to-action{
  width: 100%;
}

/* main */

.container-cotizaciones {
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #faf8f7;
}

.texto-cotizaciones {
  margin: 4.4rem 0;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.4rem;
}

.titulo-cotizaciones {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #201e1c;
}

.texto {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #bababa;
}

.titulo-tabla {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #ff9536;
}

.contenedor-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  justify-content: space-between;
  align-items: center;
}

.descripcion {
    display: flex;
    width: 100%;
    height: 75px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
    background-color: #ffffff;
}

.conteiner-comisiones-tabla-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.4rem;
    flex-wrap: wrap;
    gap: 3rem;
}


.container-tabla {
  width: 70%;
  max-width: 35rem;
  gap: 1.2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.tabla {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: -0.02em;
  color: #b5b0ac;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.1rem;
}

.flecha-descendente {
  width: 45%;
}

.precio-flecha {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 1.1rem 1.2rem;
    overflow: hidden;
}


.flecha-ascendente {
  width: 40%;
  overflow: auto;
}

.arriba-izquierda {
  border-radius: 0.8rem 0 0 0;
}
.arriba-derecha {
  border-radius: 0 0.8rem 0 0;
}
.abajo-derecha {
  border-radius: 0 0 0.8rem 0;
}
.abajo-izquierda {
  border-radius: 0 0 0 0.8rem;
}

.moneda-tabla {
  display: inline;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #282623;
  background-color: #ffe9d4;
  border-radius: 0.8rem;
  align-self: center;
  padding: 0.8rem;
}

.titulo-cotizaciones-tabla{
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #1A9AF7;
}

.moneda-cotizaciones{
    display: inline;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #282623;
    background-color: #E7F5FF;
    border-radius: 0.8rem;
    align-self: center;
    padding: 0.8rem;

}
.container-caracteristicas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #201e1c;
  padding: 1.6rem 0;
}

.texto-caractaristicas {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
  align-items: center;
}

.titulo-caracteristicas {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #ffffff;
}

.descripcion-caracteristicas {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #808080;
}

.caja-contenedora {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto ;
  background: #282623;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
  border-radius: 0.4rem;
  padding: 2rem;
  gap: 0.8rem;
}

.titulo-caja {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #ffffff;
}

.descripcion-caja {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}

.container-conocenos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('../img/bitcoinbaby1.png');
  background-position: center;
  background-size:cover;
  height: 35rem;
  position: relative;
  background-color: #faf8f7;
}


.container-conocenos h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #ffffff;
  position: absolute; 
  top: 20%;
  left: 25%; 
}

.texto-planes {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 8.2rem auto 5rem;
  gap: 2.4rem;
}

.titulo-planes {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #201e1c;
}

.descripcion-planes {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #757575;
}

.boton-elegir {
  width: 15.1rem;
  height: 4.8rem;
}

.boton-elegir input {
  background-color: #faf8f7;
  border: 0.2rem solid #f7931a;
  border-radius: 0.4rem;
  width: 15rem;
  height: 4.8rem;
}

.boton-elegir img {
  width: 100%;
}

.slider-container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 1rem;
  height: auto;
  padding: 2rem 9rem;
  align-items: center;
}

.container-planes2 {
  scroll-snap-align: center;
  padding: 3.1em 2rem 2.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 0;
  border-radius: 0.4rem;
  background-color: #ffffff;
  gap: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
  border-radius: 0.8rem;
}

.container-planes2 p {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #757575;
}

.recomendado {
  position: absolute;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
  background-color: #f7931a;
  padding: 0.8rem;
  border-radius: 0.8rem;
  top: -1.5rem;
}

.pago-anual {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #000000;
}

.precios-planes {
  position: relative;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.3rem;
  letter-spacing: -0.08em;
  color: #000000;
}

.precios-planes sup {
  position: absolute;
  top: 1rem;
  left: -1rem;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #363636;
}

.container-preguntas {
  width: 85%;
  margin: 0 auto;
  padding: 6.4rem 0;
}

.titulo-preguntas {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #201e1c;
}

.preguntas {
  padding-top: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
}

/* footer */
.footer {
  background-color: #f7931a;
}
.container-footer {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
  align-items: center;
  justify-content: space-evenly;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.links a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: start;
  color: #ffffff;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.8rem;
}
